# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Virtual environments
venv/
.env/
.venv/

# VS Code settings (optional)
.vscode/

# Environment variables
.env

# Log files
*.log